# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

.idea
__pycache__
app/__pycache__
media/__pycache__
app/base/__pycache__
app/home/__pycache__
migrations/
*.db
app/base/static/assets/img/tire_photos


# other
.DS_Store

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json


