{% extends "layouts/base.html" %}

{% block title %} Avito Scan {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <form action="" name="rim_Form" method="post" class="form" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

    <div class="row">
        <div class="col-10">
            <div class = "row form-switch">
                {% for subfield in form.searchSelector %}
                <div class="col-sm-1 mt-2">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label }}
                </div>
                {% endfor %}
                <div class="col-sm-2">
                    {{ form.searchRegion(class='form-select', placeholder='Регион поиска') }}
                </div>
                <div class="col-sm-2">
                    {{ form.searchLat(class='form-control', placeholder='Широта точки') }}
                </div>
                <div class="col-sm-2">
                    {{ form.searchLon(class='form-control', placeholder='Долгота точки') }}
                </div>
                <div class="col-sm-1">
                    {{ form.searchRadius(class='form-control', placeholder='Радиус поиска') }}
                </div>
                <div class="col-sm-1 mt-2">
                    <H4 class="text-left">км.</H4>
                </div>

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-11">
            <div class="row mb-3 mt-2">
                <div class="col-sm-1">
                    {{ form.width(class='form-select', placeholder='Ширина') }}
                </div>

                <div class="col-sm-1">
                    {{ form.height(class='form-select', placeholder='Высота профиля') }}
                </div>
                <div class="col-sm-1">
                    <H3 class="text-center">R</H3>
                </div>
                <div class="col-sm-1">
                    {{ form.diametr(class='form-select', placeholder='Диаметр') }}
                </div>
                <div class="col-sm-3">
                    {{ form.sezonnost(class='form-select', placeholder='Сезонность') }}
                </div>
                <div class="col-sm-1">
                    {{ form.pages(class='form-control', placeholder='Страниц', data_bs_toggle="tooltip", data_bs_placement="top", title="Укажите количество страниц для сканирования") }}
                </div>
                <div class="col-sm-1 mt-2">
                    <H4 class="text-left">стр.</H4>
                </div>
                <div class="col-sm-1 mt-2">
                    <H4 class="text-left" id="AVITO_STATUS"></H4>
                </div>
                <div class="col-sm-2 mb-2">
                    <button type="button" name="StartAvitoSearch" id="StartAvitoSearch" class="btn btn-primary">Искать</button>
                </div>

            </div>
        </div>

    </div>
    </form>

    {% include "avitoscan-table.html" %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
