{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.stock_tables', page='all') }}">Склад</a></li>
                  <li class="breadcrumb-item" aria-current="page">Срок {{ curr_page }} дней</li>

              </ol>
          </nav>
          <div class="row">
<!--              d-flex justify-content-between w-100 flex-wrap-->
              <div class="col-2">
                  <label class="my-1 me-2" for="stockTableBrand">Бренд</label>
                  <select class="form-select" id="stockTableBrand" aria-label="Brand select">
                      {% for id, brandName in brandsList %}
                        <option value="{{ brandName }}" {% if request.args.get('brand') == brandName  %} selected {% endif %}> {{ brandName }}</option>
                      {% endfor %}
                </select>
              </div>
              <div class="col-2">
                  <label class="my-1 me-2" for="stockTablediametr">Диаметр</label>
                  <select class="form-select" id="stockTablediametr" aria-label="Diametr select">
                      {% for id, diam in diametrList %}
                        <option value="{{ diam }}" {% if request.args.get('diametr') == diam  %} selected {% endif %}> {{ diam }} </option>
                      {% endfor %}
                </select>
              </div>
              <div class="col-2">
                  <label class="my-1 me-2" for="stockTablewidth">Ширина</label>
                  <select class="form-select" id="stockTablewidth" aria-label="Width select">
                      {% for id, width in widthList %}
                        <option value="{{ width }}" {% if request.args.get('width') == width  %} selected {% endif %}> {{ width }} </option>
                      {% endfor %}
                </select>
              </div>
              <div class="col-2">
                  <label class="my-1 me-2" for="stockTableheight">Высота</label>
                  <select class="form-select" id="stockTableheight" aria-label="Height select">
                      {% for id, height in heightList %}
                        <option value="{{ height }}" {% if request.args.get('height') == height  %} selected {% endif %}> {{ height }} </option>
                      {% endfor %}
                </select>
              </div>
<!--              <label class="my-1 me-2" for="NewTirebutton"></label>-->
              <div class="col-2">
<!--                  Пустой столбец-->
              </div>
              <div class="col-2 ml-2">
                  <a href="/tire.html" id="NewTirebutton" class="btn btn-secondary text-dark mt-4"> Добавить объявление </a>
              </div>
          </div>
      </div>

       <div class="card border-light shadow-sm">
               {% for row in row_data %}
                    <div class="row">
                        {% for cell_ in row %}
                            {% if loop.index == 1 %}
                                <div class="col-sm-auto mx-3 my-3">
                                    <figure class="figure">
                                        <img  src="{{ cell_ or default_photo }}"  width="150px" height="150px" class="img-fluid rounded-0 alt="">
                                    </figure>
                                </div>
                            {% else %}
                                <div class="col-sm-auto mx-1 my-3 lh-1">
                                    <small class="lh-1">
                                    {{ cell_|safe }}
                                    </small>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
               {% endfor %}
      </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
