{% extends "layouts/base.html" %}

{% block title %} Tire {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <form action="" name="tire_Form" method="post" class="form" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body shadow-sm mb-4">
                <h2 class="h5 mb-4">Введите данные вашего предложения</h2>
                    <div class="accordion" id="accordionRecommendations">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <b>Качество оформления объявления принесет Вам больше прибыли!</b>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRecommendations">
                            <div class="accordion-body">
                                <b>Практика нам показала как быстрее и дороже продать резину, диски и колеса в сборе.</b><br>
                                <b>1. Внешний вид </b> это очень важно. Статистика показала, что чистые колеса покупают на 30% дороже и на 40% быстрее. Самое лучшее соостояние - чистые и покрыты чернителем шины.<br>
                                Эта подготовка займет всего 15-20 минут Вашего времени и 200-500 р. Ваших средств, но значительно увеличит шансы на продажу. <br>
                                <b>2.</b> Резина всегда имеет разный износ, поэтому важно <b>замерить и сообщить глубину протектора </b> каждого колеса. Это образует к Вам дополнительное доверие и такие объявления увеличивают срок оборачиваемости <b>до 20%</b>.<br>
                                <b>3. Хороший свет и фото всех надписей, год, название </b>, так как бывают случаи, когда в комплекте разные пары колес. К Вам приезжают клиенты, Вы и они тратите время, но покупки в итоге не произойдет если колеса не соответствуют ожиданиям. Поэтому проще указать достоверную информацию или продавать парами.<br>
                                <b>4. Ровный фон </b> одного цвета, который легко помыть. Это может быть обратная сторона баннера или профессиональный фон с логотипом компании. Главное, чтобы не было видно в окружении хлама, грязи, и покупатель понимал, что Вы аккуратный пользователь. <br>
                                <b>5.</b> Ставьте колеса как можно ровнее, круглые предметы даже с небольшим отклонением смотрятся некрасиво.<br>
                                <b>6.</b> Любая подставка, даже табуретка, значительно упростят процесс фото одного колеса. <br>
                                <b>7. Адекватная цена</b> состоянию, году и рынку. Мы в помощь всегда указываем рекомендованную цену продажи, эта та цена, по которой другие продали аналогичную резину.<br>
                                <b>8. Складирование</b> шин и дисков. <br>
                                Для объявления и если Вы выносите клиенту колесаэто это не так важно, но если Вы приглашаете клиентов на склад, то необходимо, чтобы были стеллажи, маркировки, все было чисто, и аналогичная по размеру резина находилась рядом. В таком случае, если по каким то причинам, клиент не купит резину из объявления, есть вероятность, что купит аналогичную.<br>
                                <b>9.</b> Желательно, чтобы резина была <b>в закрытом помещении</b>. Если же она хранится на улице, желательно её накрывать, т.к. внутри резины набивается вода в дождь, её трудно вылить, а зимой образуется лёд. И ещё, резина, несмотря на круглогодичную эксплуатацию, имеет свойство впитывать влагу, и потом ее трудно балансировать.<br>
                                <b>10.</b> Хорошим дополнительным заработком к продаже резины и дисков идет <b>продажа сопутствующих услуг и товаров</b>. <br>
                                Например: Шиномонтаж и балансировка,<br>
                                Прокат, покраска и ремонт дисков. <br>
                                Продажа пакетов и мешков для колес и т.п. <br>
                                таким образом Вы можете увеличить свой доход на 30%.<br>
                                <b>11.</b> Предлагайте <b>трейд ин и выкуп</b> резины, дисков и колес в сборе у клиентов.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Калькулятор цен
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="collapseThree" data-bs-parent="#accordionRecommendations">
                            <div class="accordion-body">
                                Раздел <b>Характеристики шин</b> позволяет подготовить качественный <b>заголовок объявления</b> и сформировать <b>цену</b> предложения. Характеристики шины будут отображаться в предложении, поэтому важно их заполнить.<br>
                                Модель не обязательна, но для более точной оценки лучше ее указать. В разделе <b>Описание справа </b> может появиться описание от производителя, используйте выдержки из него в описании вашего объявления.
                                Калькулятор ищет максимальное совпадение <b>бренда, модели и размера</b> шины в базе. Если совпадение всех параметров найдено в текущих предложениях - получаем точную цену новой шины.<br>
                                Далее, в зависимости от </b>высоты протектора</b>, вычисляется цена бывшей в употреблении шины: -20% от цены новой за первый миллиметр износа, далее -10% за каждый последующий миллиметр износа. <br>
                                Если не находится <b>полное</b> соответствие параметрам шины - берется средняя цена шин <b>без фильтра по модели</b>, но с фильтром по остальным параметрам. Если не находится и такого предложения, то вычисляется средняя цена <b>без модели и
                                высоты профиля</b>. Далее <b>без модели, высоты и ширины профиля</b>.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Какие фото приложить?
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRecommendations">
                            <div class="accordion-body">
                                    Сделайте не менее 3-х фотографий комплекта колес, желательно на однотонном фоне. <br>
                                    На одной из фотографий должны считываться Марка, модель и размерность шин. На другой фотографии желательно показать глубину протектора на приборе.
                                    И две фотографии должы показывать состояние протектора и колес вцелом.
                                <table align="center">
                                    <tr>
                                        {% for photo in tirephotos %}
                                        <td>
                                            <img src="{{ photo|safe }}" width="250px" height="250px" class="img-thumbnail" alt="Пример фото колес">
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card card-body shadow-sm mb-4 mb-lg-3">
                        <h2 class="h5 mb-4">Характеристики шин - помощь в составлении объявления</h2>
                        <div class="row">
                            <div class ="col-md-4 mb-3">
                                <label>Бренд</label>
                                {{ form.brand(class='form-select', placeholder='Введите название бренда', id='brand') }}
                            </div>
                            <div class ="col-md-4 mb-3">
                                <label>Модель</label>
                                {{ form.model(class='form-select', placeholder='Введите название модели', id='model') }}
                            </div>
                            <div class ="col-md-4 mb-3">
                                <label>Сезонность</label>
                                {{ form.sezonnost(class='form-select', placeholder='Введите сезонность') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-2 mb-3">
                                <label>Ширина</label>
                                {{ form.shirina_profilya(class='form-select', placeholder='Введите ширину профиля шины') }}
                            </div>
                            <div class ="col-md-1 mb-3 mt-2 align-middle text-center">
                                <label> </label>
                                <H2>/</H2>
                            </div>
                            <div class ="col-md-2 mb-3">
                                <label>Высота</label>
                                {{ form.vysota_profilya(class='form-select', placeholder='Введите высоту профиля шины') }}
                            </div>
                            <div class ="col-md-1 mb-3 align-middle text-center mt-2">
                                <label> </label>
                                <H2>R</H2>
                            </div>
                            <div class ="col-md-2 mb-3">
                                <label>Диаметр</label>
                                {{ form.diametr(class='form-select', placeholder='Введите внутренний диаметр без R') }}
                            </div>
                            <div class ="col-md-1 mb-3 align-middle text-center mt-2">
                                <label> </label>
                                <H2>  </H2>
                            </div>
                            <div class ="col-md-2 mb-3">
                                <label>Год произв-ва</label>
                                {{ form.product_year(class='form-control', placeholder='Введите год с маркировки') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-3 mb-3">
                                <label>Состояние</label>
                                {{ form.condition(class='form-select', placeholder='Укажите состояние') }}
                            </div>
                            <div class ="col-md-3 mb-3">
                                <label>Глубина протектора, мм</label>
                                {{ form.protector_height(class='form-control', placeholder='Глубина протектора', data_bs_toggle="tooltip", data_bs_placement="top", title="Замерьте и укажите глубину протектора") }}
                            </div>
                            <div class ="col-md-3 mb-3">
                                <label>Износ протектора, %</label>
                                {{ form.protector_wear(class='form-control', placeholder='Износ протектора, %') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-10 mb-3">
                                <label>Ссылка на видео YouTube</label>
                                {{ form.videourl(class='form-control', placeholder='Формат https://www.youtube.com/watch?v=') }}
                            </div>
                        </div>
                    </div>
                    <div class="card card-body shadow-sm mb-4 mb-lg-3">
                        <h2 class="h5 mb-4">Характеристики объявления</h2>
                        <div class = "row">
                            <div class = "col-md-12 mb-3">
                                <label>Заголовок</label>
                                {{ form.title(class='form-control', placeholder='Введите заголовок объявления') }}
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-12 mb-3">
                                <label>Описание</label>
                                {{ form.description(class='form-control', placeholder='Введите описание объявления') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-5 mb-3">
                                <label>Вид объявления</label>
                                {{ form.ad_type(class='form-select', placeholder='Вид объявления') }}
                            </div>
                            <div class ="col-md-2 mb-3">
                                <label>Кол-во</label>
                                {{ form.qte(class='form-control', placeholder='Шт.') }}
                            </div>
                            <div class ="col-md-2 mb-3">
                                <label>Цена</label>
                                {{ form.price(class='form-control', placeholder='Руб.', data_bs_toggle="tooltip", data_bs_placement="top", title="Можете поставить любую или округлить рекомендуемую цену") }}
                            </div>
                            <div class ="col-md-2 mb-3">
                                <label>Реком. цена</label>
                                {{ form.recommended_price(class='form-control', placeholder='Руб.') }}
                            </div>

                        </div>
                        <div class="row">
                            <div class ="col-md-4 mb-3 ">
                                <div class ='form-check form-switch'>
                                    <label>Выставить на Авито</label>
                                    {{ form.avito_show(class='form-check-input', data_bs_toggle="tooltip", data_bs_placement="top", title="Выставление на Drom.ru в разработке") }}
                                </div>
                                <div class ='form-check form-switch'>
                                    <label>Выставить на Auto.ru</label>
                                    {{ form.avtoru_show(class='form-check-input', data_bs_toggle="tooltip", data_bs_placement="top", title="Выставление на Drom.ru в разработке") }}
                                </div>
                                <div class ='form-check form-switch'>
                                    <label>Выставить на Drom</label>
                                    {{ form.drom_show(class='form-check-input', disabled=True, data_bs_toggle="tooltip", data_bs_placement="top", title="Выставление на Drom.ru в разработке") }}
                                </div>
                            </div>
                            <div class ="col-md-4 mb-3 ">
                                <label >Продвижение Авито</label>
                                <div class ='form-check form-switch'>
                                    {% for subfield in form.ad_status %}
                                        {{ subfield }}
                                        {% if loop.index<=3 %}
                                            {{ subfield.label }}
                                        {% else %}
                                            {{ subfield.label(data_bs_toggle="tooltip", data_bs_placement="top", title="В 2, 5, 10 раз больше показов на 1 или 7 дней") }}
                                        {% endif %}
                                        {% if loop.index % 3 == 0 %}
                                            <br>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Продвижение Auto.ru</label>
                                <div class =" form-check form-switch">
                                    {{ form.is_for_priority(class='form-check-input', data_bs_toggle="tooltip", data_bs_placement="top", title="Поднимает объявление выше обычных на 7 дней") }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class ="col-md-6 mb-3">
                            <label>Фотографии</label>
                            {{ form.photo1(class='form-control') }}
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-12 col-xl-4">

            <div class="card card-body shadow-sm mb-4 mb-lg-3">
                <h2 class="h5 mb-4">Адрес магазина и контактное лицо</h2>
                        <div class="row">
                            <div class ="col-md-6 mb-3">
                                    <label>Имя</label>
                                    {{ form.manager_name(class='form-control', placeholder='Имя контактного лица') }}
                            </div>
                            <div class ="col-md-6 mb-3">
                                    <label>Телефон</label>
                                    {{ form.contact_phone(class='form-control', placeholder='формат +7XXXXXXXXXX') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-10 mb-3">
                                    <label>Адрес</label>
                                    {{ form.address(class='form-control', placeholder='Полный адрес объекта') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-10 mb-3">
                                <label>Зона показа объявления</label>
                                {{ form.display_area1(class='form-select', placeholder='Зона показа') }}
                            </div>
                        </div>
            </div>

            <div class="card card-body shadow-sm mb-4 mb-lg-3">
                <h2 class="h5 mb-4">Параметры выбранной резины</h2>
                        <div class="row">
                            <div class ="col-md-12 mb-3">
                                    <label>Применимость</label>
                                    <input type="text" class="form-control" id="tire_purpose" placeholder="Применимость" aria-label="Применимость">
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <div class ="col-md-12 mb-3">-->
<!--                                    <label>Цена за 1 шт.</label>-->
<!--                                    <input type="text" class="form-control" id="tire_newprice" placeholder="Цена" aria-label="Цена">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row">
                            <div class ="col-md-12 mb-3">
                                <label for="tire_description">Описание</label>
                                <textarea class="form-control" placeholder="Описание" id="tire_description" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <button type="button" name="GetAvitoTirePrices" id="GetAvitoTirePrices" class="btn btn-primary">Получить цены</button>
                            </div>
                            <div class="col-md-3 mb-3">
                                <button type="button" name="Refresh" id="Refresh" class="btn btn-primary">Обновить</button>
                            </div>
                            <div class="col-md-3 mb-3">
                                    <button type="button" name="AvitoTires" id="AvitoTires" class="btn btn-primary" >Предложения</button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="progress-wrapper">
                                <div class="progress-info">
                                    <div class="progress-label">
                                        <span class="text-primary">Загрузка</span>
                                    </div>
                                    <div class="progress-percentage" >
                                        <span id="chart_progress_text">0%</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" id="chart_progress" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div id="chart" class="chart"></div>

                            </div>
                        </div>
            </div>
        </div>
        </div>

    </div>
    <div class ="col-md-6 mb-3">
        <button type="submit" name="Save" class="btn btn-primary">Отправить</button>
    </div>
    </form>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
      var graphs = {{graphJSON | safe}};
      console.log("We're here");
      Plotly.plot('chart',graphs,{});
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/tire.js"></script>

{% endblock javascripts %}

